<!DOCTYPE html>
<html>

    <head>
        <title>Upload Success</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
        <style>
            img {
                display: block;
                margin: 0 auto;
            }
        </style>
    </head>

    <body>
        <div class="container">
            <img src="https://img.freepik.com/free-vector/chick-hatching-from-egg-white-background_1308-78670.jpg"
                alt="Centered Image" width="200px" height="200px">
            <h1>Your File Has Been Processed Successfully</h1>
            <p>Please see your "Downloads" folder for the Verification Report</p>
            <p>Thank You!</p>
        </div>
    </body>

</html>