<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Flask Application</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
        <!-- <script src="{{url_for('static', filename='index.js')}}"></script> -->
    </head>

    <body>
        <div class="contact-us">
            <div>
                <p><b>GS1 Scout</b></p>
            </div>
            <form action='{{ url_for("form") }}' method="POST">
                <label for="UPC:">Input your UPC: </label> <input id="z" name="z" required="" type="number" />
                <button id="SUBMIT">SUBMIT</button>
            </form>
        </div>
    </body>

</html>